@charset "UTF-8";

/*
Em HTML  é id="***"  (Só pode um elemento)
e em CSS é #***      
Em HTML  é class=""  (Pode vários elementos)
e em CSS é .         
*/

body {
    background-color: rgb(215, 255, 215);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal { /*Da pra tirar o 'h1' e deixar só o '#principal', porém pra melhorar visualização, melhor assim como está!..*/
    text-align: center;
    background-color: rgb(0, 66, 0);
    color: rgb(215, 255, 215);
}

h1 {
    color: rgb(1, 165, 1);
}

h2 {
    color: rgb(2, 92, 2);
}

.basico {
    color: rgb(2, 92, 2);
    font-weight: bold;
}

.intermediario {
    color: rgb(92, 91, 2);
}

.avançado {
    color: rgb(92, 16, 2);
}

.destaque {
    background-color: rgba(255, 255, 0, 0.418);
}