@import '~bootstrap-icons/font/bootstrap-icons';

div.card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

div.card-mae {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}
div.card-mae div.card div.card-body div.final-btn{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}