@import '~bootstrap-icons/font/bootstrap-icons';

nav.navbar-expand-lg bg-body-tertiary {
    margin: 0;
    padding: 0;

}

.banner {
    background-image: url('img/business-man.jpg');
    background-size: auto;
    background-position: top;
    height: 540px;
    display: flex;
    justify-content: center;
    color: #fff;
}

.banner-content {
    margin-top: 20px;
}

.banner-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn1 {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    top: 46.5%;
}

section a.btn2, button.btn3 {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
}

.btn:hover {
    background-color: #0056b3;
}

.highlights {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.highlights h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.menu-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
}

.menu-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.about {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
