@import '~bootstrap-icons/font/bootstrap-icons';

:root {
    --texto: #F2F2F2;
    --fundo-bota-ativo: #2E594A;
    --fundo-secoes: #3FBF83;
    --botao-destaques: #58A67A;
    --fundo-rodape: #F2D22E;
    --bordas-textos-secundarios: black;
}

#header-img {
    color: var(--texto);
    padding: 5px 10px 5px 5px;
}

.btn {
    color: var(--texto);
    border-color: var(--texto);
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.18);
    color: #ffffff;
    border-color: #ffffff;
}

#contact ::placeholder {
    color: #2e594a7d;
}

.btn :active {
    background-color: var(--botao-destaques);
    color: var(--fundo-bota-ativo);
    border-color: var(--texto);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--texto);
}

.dropdown-divider {
    background-color: var(--botao-destaques);
}

.dropdown-menu {
    background-color: var(--texto);
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.378);
}

.dropdown-item {
    background-color: var(--texto);
    color: var(--fundo-bota-ativo);
    border-radius: 5px;
    transition: 0.2s ease;
}

.dropdown-item:hover {  
    background-color: var(--texto);
    transition: 0.2s ease;
}

.navbar {
    background-color: transparent;
    padding: 0px;
}

.navbar-brand {
    font-size: 27px;
    display: flex;
    top: 22px;
}

.nav-link, #header {
    /* background-color: var(--botao-destaques); */
    background-image: url('img/ecotamps-banner-top2.png');
    color: var(--texto);
}

.nav-link:hover, #header:hover {
    color: var(--fundo-bota-ativo);
}

#nav-item-home {
    margin-left: 4vw;
}

#nav-item-adc {
    margin-left: 33vw;
}

.d-flex .form-control {
    color: var(--fundo-bota-ativo);
    background-color: var(--texto);
}













main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--texto);
    padding: 30px 0px 30px 0px;
}

body {
    background-color: var(--texto);
    height: 100vh;
}











div.card-mae {
    margin-top: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 
}

div.card {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.466);
    background-image: url('img/ecotamps-banner-top2.png');
    color: var(--texto);
    text-align: center;
}

div.card-title {
    text-align: left;
}

div.card-mae div.card div.card-body div.final-btn{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

a.btn {
    border: none;    
    color: var(--texto);
    background-color: var(--fundo-bota-ativo);
}

div.card img {
    height: 11rem;
    object-fit: cover;
}








footer {
    color: var(--texto);
    text-align: center;
}

.video {
    display: inline-block;    
    justify-content: center;
    align-items: center;
    padding: 30px 50px 50px 50px;
}

.video h1 {
    color: var(--botao-destaques);
    padding-bottom: 20px;
}

.video video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.553);
}