@import '~bootstrap-icons/font/bootstrap-icons';

:root {
    --texto: #F2F2F2;
    --fundo-bota-ativo: #2E594A;
    --fundo-secoes: #3FBF83;
    --botao-destaques: #58A67A;
    --fundo-rodape: #F2D22E;
    --bordas-textos-secundarios: black;
}

#header-img {
    color: var(--texto);
    padding: 5px 10px 5px 5px;
}

.btn {
    color: var(--texto);
    border-color: var(--texto);
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.18);
    color: #ffffff;
    border-color: #ffffff;
}

#contact ::placeholder {
    color: #2e594a7d;
}

.btn :active {
    background-color: var(--botao-destaques);
    color: var(--fundo-bota-ativo);
    border-color: var(--texto);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--texto);
}

.dropdown-divider {
    background-color: var(--botao-destaques);
}

.dropdown-menu {
    background-color: var(--texto);
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.378);
}

.dropdown-item {
    background-color: var(--texto);
    color: var(--fundo-bota-ativo);
    border-radius: 5px;
    transition: 0.2s ease;
}

.dropdown-item:hover {  
    background-color: var(--texto);
    transition: 0.2s ease;
}

.navbar {
    background-color: transparent;
    padding: 0px;
}

.navbar-brand {
    font-size: 27px;
    display: flex;
    top: 22px;
}

.nav-link, #header {
    /* background-color: var(--botao-destaques); */
    background-image: url('img/ecotamps-banner-top2.png');
    color: var(--texto);
}

.nav-link:hover, #header:hover {
    color: var(--fundo-bota-ativo);
}

#nav-item-home {
    margin-left: 4vw;
}

#nav-item-adc {
    margin-left: 33vw;
}

.d-flex .form-control {
    color: var(--fundo-bota-ativo);
    background-color: var(--texto);
}









.banner {
    background-image: url('img/ecotamps-banner.png');
    background-size: cover;
    background-position: top;
    height: 540px;
    display: flex;
    justify-content: auto;
    color: var(--texto);
    padding-left: 5vw;
    padding-top: 4vh;
}

.banner-content {
    margin-top: 20px;
}

.banner-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--texto);
}

.banner-content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--texto);
}

.btn1 {
    background-color: var(--fundo-bota-ativo);
    color: var(--texto);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    top: 65vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn2, .btn3 {
    background-color: var(--botao-destaques);
    color: var(--texto);
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid var(--botao-destaques);
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn1:hover, .btn2:hover, .btn3:hover {
    background-color: var(--fundo-secoes);
    color: var(--texto);
}


.btn2:hover {
    background-color: var(--fundo-bota-ativo);
    color: var(--texto);
}














.highlights {
    padding: 50px;
    background-color: var(--texto);
    text-align: center;
    color: var(--texto);
}

.highlights h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: 600px;
    color: var(--botao-destaques);
}

.highlights p.subtitle {
    margin-left: 600px;
    color: var(--botao-destaques);
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
/* .menu-foto {
    padding-right: 5vw;
} */

.menu-foto img {
    border-radius: 8px;
    width: 500px;
}

.menu-item {
    background-image: url('img/ecotamps-banner.png');
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
    height: 400px;
    color: var(--texto);
    margin-top: 65px;
    transition: transform 0.5s ease-in-out;
}

.menu-item:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

.menu-item h3 {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item img:hover {
    transform: scale(1.07);
    transition: transform 0.5s ease-in-out;
}

div img.img {
    width: 210px;
    height: 140px;
}

.banner-content h2, p {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.226);
}

.about {
    padding: 50px;
    background-image: url('img/ecotamps-banner-top2.png');
    text-align: center;
    color: var(--texto);
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 200px 20px 200px;
}

.contact {
    padding: 50px;
    background-color: var(--fundo-bota-ativo);
    text-align: center;
    color: var(--texto);
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--fundo-secoes);
    border-radius: 5px;
    color: var(--texto);
    background-color: var(--texto);
}

footer {
    background: var(--fundo-bota-ativo);
    color: var(--texto);
    text-align: center;
    padding: 20px;
    border-top: 1px solid var(--botao-destaques);
}

footer p {
    margin: 0;
}
