main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

div.div-mae {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    background-color: black;
    text-align: center;
}

.div1 {
    width: 800px;
    display: flex;
    background-color: white;
    gap: 50px;
    margin: 30px;

}

.div2 {
    text-align: left;
    background-color: white;
    width: 500px;
    margin: 30px;
}

.div3 {
    background-color: white;
    width: 500px;
    flex-wrap: wrap;
    margin: 30px;
}

