@charset "UTF-8";

@font-face {
    font-family: titulo;
    src: url('../fontes/Passion_One/PassionOne-Regular.ttf') format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: texto;
    src: url("../fontes/Sriracha/Sriracha-Regular.ttf") format(truetype);
    font-weight: normal;
}

:root {
    --cor1: white;
    --cor2: black;

    --font-titulo: "fontes", sans-serif;
    --font-texto: "texto", sans-serif;
}
* {
    margin: 0px;
}

body {
    background-color: white;
}

/*p > a:visited {
    color: blue;
}*/


header {
    background-color: black;
    width: 100%;
}

header > h1 {
    color: white;
    font-family: "titulo", Arial, sans-serif;
    font-size: 6vw;
    transition: 0.5s ease;
    text-align: center;
    padding-top: 50px;
    font-variant: small-caps;
    /*
    transform: uppercase; (deixa tudo maiusculo)
    font-variant: small-caps; (deixa tudo maiusculo, mas a primeira letra maior)
    */
}

header > h1:hover {
    transform: scale(1.1);
}

header > p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    transition: 0.5s ease;
    font-weight: normal;
    text-align: center;
    padding-bottom: 50px;
}

header > p:hover {
    transform: scale(1.1);
}

header > p > a {
    color: white;
    text-decoration: none;
}

section {
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
}

section > p {
    font-family: "texto", sans-serif;
    color: black;
    font-size: 3vw;
}

section.normal > p {
    color: black;
}

section.imagem#primeira {
    background-color: black;
    background-image: url("../imagens/background001.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 5px 7px 0px rgba(0, 0, 0, 0.438);
}

section.imagem > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.412);
    width: 300px;
    padding: 20px;
}

section.imagem#segunda {
    background-color: black;
    background-image: url("../imagens/background002.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 5px 7px 0px rgba(0, 0, 0, 0.438);
}

footer {
    background-color: black;
    height: 30px;
}

footer > p {
    color: white;
    text-align: center;
    padding-top: 4px;
}

footer > p > a {
    color: white;
    text-decoration: none;
}
footer > p > a:hover {
    text-decoration: underline;
}